nav {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background: white;
  max-width: 950px;
  margin: 0 auto;
  padding: 0 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
a {
  text-decoration: none;
  padding: 10px;
  color: black;
  font-family: 'Livvic', sans-serif;
  font-weight: 700;
  font-size: 150%;
}
a:hover {
  text-decoration: underline;
}
.header-img {
  display: none;
}

@media(min-width: 380px) {
  .header-img {
    display: block;
    width: 60%;
  }
}
