.results {
  width: 100%;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  max-width: 950px;
  margin: 0 auto;
  flex-grow: 1;
}
.results-output {
  margin: 50px auto;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  width: 80%;
}
.map {
  margin: 50px;
  border: 2px solid black;
}
.marker {
  background-color: blue;
  border: solid black 1px;
}
