body {
  width: 100%;
  min-width: 320px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-size: contain;
  margin: 0;
  background: black;

  height: 100%;
}

@media (min-height: 1070px) {
  body {
    height: 100vh;
  }
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: 'Livvic', sans-serif;
  border-top: black solid 10px;
  background: white;
}
